name: Discord Release Ping
on:
    release:
        types: [published]

jobs:
    github-releases-to-discord:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: GitHub Releases to Discord
              uses: SethCohen/github-releases-to-discord@v1
              with:
                  webhook_url: ${{ secrets.WEBHOOK_URL }}
                  color: "2105893"
                  content: "<@&1415851101135044813>"
                  reduce_headings: true
